* {
	margin:0;
	padding:0;
}

header {
	position: relative;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.about--text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.headline {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	font-color: #666666;
	text-align: center;
	/*position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);*/
  }

  .subhead {
  	font-family: 'Playfair Display', serif;
  	font-size: 16px;
  	color: #838488;
  	text-align: center;
  	position: relative;
  	top: 30px;
  }

  .subhead:hover {
  	color: #00EA65;
  	transition: 200ms ease-in-out;
  }

  a { 
  	text-decoration: none; 
  	color: #4E637C;
  	padding-bottom: 10px;
  	border:1px solid white;
  	
  }

  a:visited { text-decoration: none; }
  a:hover { 
  	color: #4E908A;
  	text-decoration: none; 
  	padding-bottom:0px;
  	border-bottom:1px solid #00EA65;
  	transition:all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	-webkit-transition:all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none; }